

body{
    margin: 0;
    padding: 0;
}

div.page {
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment: fixed;
    background-color:greenyellow;
    background-image:url('side_green_hair_troll_doll.png')
}

div.page.a {
    background-repeat:repeat;
    background-attachment:scroll;
    background-size: 100px;
}

div.page.b {
    background-repeat:no-repeat;

}

div.page.c {

}

div.page.x {
    background-image:url('norwegian_trolls.png')
}

div.page.y {
    background-image:url('rialto_bridge.jpg')
}


div.page.z {
    background-image:url('aus_coin.png')
}


img{
    width:100%;
}

div.item.a {
    width: 200px;
}


div.item.b {
    width: 100px;
}


div.item.c {
    width: 150px;
}

div.item.x {
    margin-left: auto;
}

div.item.y {
    margin-right: auto;
}

div.item.z {
    margin-left: auto;
    margin-right: auto;
}

div.item.one {
    opacity:0%;
}

div.item.two {
    opacity:100%;
}

div.item.three {
    
}



div.container {
    display:flex;
    flex-wrap:wrap;
}
