

body{
    margin: 0;
    padding: 0;
    background-color:greenyellow;
}

div.page {
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment: fixed;
    background-color:greenyellow;
}

div.page.a {
    background-repeat:repeat;
    background-attachment:scroll;
    background-size: 100px;
}

div.page.b {
    background-repeat:repeat;
    background-attachment:scroll;
    background-size:50px;

}

div.page.c {
    background-repeat:repeat;
    background-attachment:scroll;
    background-size:25px;

}

div.page.x {
    background-image:url('norwegian_trolls.png')
}

div.page.y {
    background-image:url('rialto_bridge.jpg')
}


div.page.z {
    background-image:url('aus_coin.png')
}


img{
    width:100%;
}

div.item.a {
    width: 100x;
}


div.item.b {
    width: 50x;
}


div.item.c {
    width:200px;
    
}

div.item.x {
    margin-left: auto;
}

div.item.y {
    margin-right: auto;
}

div.item.z {
    margin-left: auto;
    margin-right: auto;
}


div.container {
    display:flex;
    flex-wrap:wrap;
}
