@font-face{
    font-family:'canterbury';
    src: url('Canterbury.woff');
}

@font-face{
    font-family:'flora';
    src:url('floraandfauna.woff');
}

@font-face {
    font-family:'blackside';
    src: url('Blackside.woff');
}

@font-face {
    font-family:'dirt';
    src: url('dirt2\ soulstalker.woff');
}

@font-face {
    font-family:'flesh';
    src: url('Flesh\ Wound.woff');
}



body{
   margin: 0; 
   padding: 0;
}

div.page.a {
    background-color:yellow;
}

div.page.b {
    background-color:greenyellow;
}

div.page.c {
    background-color:blue;
}

div.troll{
    color:red;
    font-family:flora;
    font-size:80px;
    font-weight:bold;
    width:60%;
    text-align:center;
    padding-top:80px;
    padding-bottom:80px;
    margin-left:auto;
    margin-right:auto;
    
}

div.title{
    color:black;
    font-family:canterbury;
    font-size:80px;
    width:60%;
    text-align:center;
    padding-top:30px;
    margin-left:auto;
    margin-right:auto;
    white-space:nowrap;
}

div.notice{
    color:black;
    font-family:canterbury;
    font-size:60px;
    width:60%;
    text-align:center;
    padding-top:10px;
    padding-bottom:20px;
    margin-left:auto;
    margin-right:auto;
}


div.info{
    color:black;
    border:3px solid black;
    font-family:canterbury;
    font-size:30px;
    width:60%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:10px;
    margin-left:auto;
    margin-right:auto;
}

div.info.a{
    color:red;
    
}

div.info.b{
    color:black;
  
}

div.info.c{

}

div.info.x{
    font-size:200px;
}

div.info.y{
    font-size:100px;
}

div.info.z{

}

div.troll.one{
    visibility:hidden;
   
}

div.troll.two{
    visibility:visible;
   
}

div.troll.three{
    
}

div.troll.a{
    font-size:90px;
}

div.troll.b{
    font-size:60px;
}

div.troll.x{

}




div.font.a{
    font-family:dirt;
}

div.font.b{
    font-family:blackside;
}

div.font.c{
    font-family:'canterbury';
}

div.font.x{
    font-size:100px;
}

div.font.y{
    font-size:80px;
}

div.font.z{
    font-size:60px;
}

