@font-face{
    font-family:'kapakana';
    src:url('Kapakana[wght].woff')
}

@font-face{
    font-family:'manuskript';
    src:url('Manuskript\ Gothisch\ UNZ1A.woff')
}

@font-face{
    font-family:'digi';
    src:url('digital-7\ \(italic\).woff')
}


body {
    background-size:20%;
    background-image:url('cloud-background.jpg');
    background-repeat:repeat;
  }
  
  div {
    box-sizing:border-box;
  }
  
  div.container {
    display:flex;
    flex-wrap:wrap;

  }


  div.spacearound {
    justify-content: space-between;
  }
  

  
  
  div.sidebar {
    padding:10px;
    height:100vh;
    overflow-x:scroll;
    overflow-y:hidden;
    background: black;
    color: red;
    border:5px groove;
    border-color:slategray;
    position: fixed;
    top:0;
    left:0;

  }

    div.sidebar::-webkit-scrollbar {
    width:40px;
  }
   
    div.sidebar::-webkit-scrollbar-track {
     border: 50px groove gray;
  }
   
    div.sidebar::-webkit-scrollbar-thumb {
    background-color: gray;
    outline: 4px slategray;
  }

  div.kapa {
    font-family:'kapakana';
  }

  div.fontxlarge{
    font-size: 60px;
  }
  
  div.fontlarge {
    font-size:50px;
  }

  div.fontmedium{ 
    font-size: 40px;
  }

  div.fontsmallmedium{
    font-size:20px;
    color:white;
  }

  div.fontsmall{
    font-size:15px;
  }

  div.digi{
    font-family:'digi';
  }
  
  div.manuskript{
    font-family:'manuskript';
  }

  div.textalign{
    text-align: center;
  }
  
  div.width20 {
    width: 20%;
  }
  
  div.width33 {
    width: 33.33%;
  }

  div.width100 {
    width: 100%;
  }
    
  
  div.width80 {
    width: 80%;
  }
  
  div.sidebar {
    padding:10px;
    height:120vh;
    overflow:scroll;
  }
  
  
  div.gravestone {
    width: calc(33.33% - 40px);
    height:30vw;
    overflow:scroll;
    margin:20px;
    padding:20px;
    background:#848484;
    border-radius: 90px 90px 0px 0px;
    border:10px groove;
  }

  div.logograve{
    width:100px;
    margin-left:auto;
    margin-right:auto;
  }

  img{
    width:100%;
  }

  div.title{
    margin-right:auto;
    margin-left:auto;
    width:75%;
  }  


  div.gif1{
    width:100px;
  }

  div.flower{
    width:50px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
  }

  div.mainside {
    margin-left: 20%;
  }


  audio {
    width:100%;
    margin-top:0px;
    margin-bottom:20px;
    border-radius:0px !important;
    mix-blend-mode:difference;
    
  }
    


