@font-face{
    font-family:'kapakana';
    src:url('Kapakana[wght].woff')
}

@font-face{
    font-family:'manuskript';
    src:url('Manuskript\ Gothisch\ UNZ1A.woff')
}

@font-face{
    font-family:'digi';
    src:url('digital-7\ \(italic\).woff')
}


body {
    margin:0px;
    background: radial-gradient(circle, rgba(217,217,217,1) 15%, rgba(235,255,0,1) 81%);
  }
  
  div {
    box-sizing:border-box;
  }
  
  div.container {
    display:flex;
    flex-wrap:wrap;
  }

  
  
  div.sidebar {
    padding:10px;
    height:100vh;
    overflow:scroll;
    background: #FF004D;

  }
  
  div.fontlarge {
    font-size:70px;
    
  }

  div.fontmedium{ 
    font-size: 40px;
  }

  div.fontsmallmedium{
    font-size:20px;
  }

  div.fontsmall{
    font-size:10px;
  }

  div.digi{
    font-family:'digi';
  }
  
  div.manuskript{
    font-family:'manuskript';
  }

  div.textalign{
    text-align: center;
  }
  
  div.width20 {
    width: 20%;
  }
  
  div.width33 {
    width: 33.33%;
  }
  
  div.width80 {
    width: 80%;
  }
 
  
  
  div.sidebar {
    padding:10px;
    height:100vh;
    overflow:scroll;
  }
  
  
  div.gravestone {
    width: calc(33.33% - 40px);
    height:400px;
    overflow:scroll;
    margin:20px;
    padding:20px;
    background:#444444;
    border-radius: 40px 40px 0px 0px;
  }


